In [1]:
from pytrends.request import TrendReq

In [6]:
pytrends = TrendReq(hl='en-US', tz=360)

In [52]:
kw_list = ["Breast Cancer"]
y = pytrends.build_payload(kw_list, cat=0, timeframe='today 5-y', geo='', gprop='')

ResponseError: The request failed: Google returned a response with code 400.

In [13]:
data = pytrends.interest_over_time()

In [14]:
data

            Breast Cancer isPartial
date
2016-03-27             43     False
2016-04-03             42     False
2016-04-10             45     False
2016-04-17             41     False
2016-04-24             42     False
...                   ...       ...
2021-02-14             37     False
2021-02-21             43     False
2021-02-28             41     False
2021-03-07             41     False
2021-03-14             41      True

[260 rows x 2 columns]

In [15]:
#x = pytrends.get_historical_interest(kw_list, year_start=2019, month_start=1, day_start=1, hour_start=0, year_end=2019, month_end=12, day_end=31, hour_end=0, cat=0, geo='', gprop='', sleep=0)
x = pytrends.get_historical_interest(kw_list, year_start=2019,year_end=2019, month_end=12, day_end=31, hour_end=0, cat=0, geo='', gprop='', sleep=0)
x

HTTPSConnectionPool(host='trends.google.com', port=443): Read timed out. (read timeout=5)

                     Breast Cancer  isPartial
date
2019-01-01 00:00:00              0      False
2019-01-01 01:00:00              0      False
2019-01-01 02:00:00              0      False
2019-01-01 03:00:00              0      False
2019-01-01 04:00:00              0      False
...                            ...        ...
2019-12-30 20:00:00             89      False
2019-12-30 21:00:00             90      False
2019-12-30 22:00:00             92      False
2019-12-30 23:00:00             95      False
2019-12-31 00:00:00             98      False

[8788 rows x 2 columns]

In [43]:
country = pytrends.interest_by_region(resolution='COUNTRY', inc_low_vol=False, inc_geo_code=False)

In [44]:
country.reset_index(inplace=True)

In [45]:
country.dtypes

geoName          object
Breast Cancer     int64
dtype: object

In [46]:
country.head(30)

                 geoName  Breast Cancer
0            Afghanistan              0
1                Albania              0
2                Algeria              0
3         American Samoa              0
4                Andorra              0
5                 Angola              0
6               Anguilla              0
7             Antarctica              0
8      Antigua & Barbuda              0
9              Argentina              3
10               Armenia              0
11                 Aruba              0
12             Australia             76
13               Austria              0
14            Azerbaijan              0
15               Bahamas              0
16               Bahrain              0
17            Bangladesh             25
18              Barbados              0
19               Belarus              0
20               Belgium              8
21                Belize              0
22                 Benin              0
23               Bermuda              0
24                Bhutan              0
25               Bolivia              0
26  Bosnia & Herzegovina              0
27              Botswana              0
28         Bouvet Island              0
29                Brazil              1

In [47]:
country.sort_values(by=['Breast Cancer'], ascending=False).head(30)

                  geoName  Breast Cancer
110               Jamaica            100
236        United Kingdom             94
237         United States             93
84                  Ghana             86
106               Ireland             84
12              Australia             76
174           Philippines             74
159               Nigeria             74
38                 Canada             69
115                 Kenya             66
156           New Zealand             64
191             Singapore             64
197          South Africa             61
202             Sri Lanka             54
167              Pakistan             52
153                 Nepal             50
122               Lebanon             47
132              Malaysia             45
235  United Arab Emirates             42
102                 India             32
99              Hong Kong             28
17             Bangladesh             25
199           South Korea             23
65                  Egypt             22
108                Israel             16
217                Taiwan             15
186          Saudi Arabia             15
243               Vietnam             13
177              Portugal             11
165                Norway             11